@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dark a {
  font-weight: 500;
  color: rgba(255, 255, 255, 0.87);
  text-decoration: inherit;
}
.dark a:hover {
  color: rgba(255, 255, 255);
}

.body.dark {
  color: rgba(255, 255, 255, 0.87);
  background: radial-gradient(
    circle at 50px 200px,
    #45474e 0%,
    rgba(37, 40, 45, 1) 35%,
    #1c1d22 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
.light a {
  font-weight: 500;
  color: rgba(29, 30, 33, 1);
  text-decoration: inherit;
}
.light a:hover {
  color: rgba(37, 40, 45, 1);
}

.body.light {
  color: rgba(29, 30, 33, 1);
  background: radial-gradient(
    circle at 50px 200px,
    #d5d6d8 0%,
    rgba(255, 255, 255, 1) 35%,
    rgba(255, 255, 255, 1) 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
